.header_style{
    color: rgb(128, 128, 128,.6);
    font-size: 2rem;
}
.form_part{
    background-color: rgb(128, 128, 128,.2);
    
}
.footer{
    color: rgb(128, 128, 128,.6);
}
.bg{
    background: linear-gradient(to bottom, #c4c4c4 0%, #ffffff 100%);
}
tr{
    padding: 30px !important;
    margin: 10px !important;
}