body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    
    background: #24353f;
    font-family: 'Titillium Web', sans-serif;
}
.card{
    box-shadow: -5px 2px 54px -9px rgb(0 0 0);
    background: #24353f;
}

h1,h2 {
    color: #17a2b8;
}

.form-control {
  
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #ced4da;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control:focus {
    color: #495057;
    background-color: transparent;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

.btn-outline {
    color: #17a2b8;
    background-color: transparent;
    background-image: none;
    border-color: #17a2b8;
}

nav{
    background-color: #24353f !important;
    box-shadow: -5px 2px 54px -9px rgb(0 0 0);
}